* {
    margin: 0;
    padding: 0;
}


.main {
    width: 1400px;
    margin: 0 auto;
}

.photo {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.smallphoto {
    margin: 5px;
    width: 400px;
    height: 250px;
    width: 30%;
}


















