* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center {
    margin: 0 auto;
}

.minicart ul {
    display: inline;
}

.auth {
    margin: 0 auto;
    width: 400px;
}

main {
    text-align: center;
    padding-bottom: 40px;
}

.auth p {
    margin: 8px;
    padding: 0px;
}

.profile {
    padding: 10px;
}

.uploads {
    text-align: center;
    margin: 0 auto;
    width: 400px;
}

.message-ok {
    font-size: 18px;
    color: green;
}

.gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-img {
    margin: 5px;
    width: 30%;
}

.card .card-image img {
    width: 200px;
    margin: auto;
}

.card .card-image {
    background-color: grey;
}

.card .card-image .card-title {
    color: black;
}

.row .col {
    float: none;
    margin: auto;
}

.card .card-image .card-buy {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 100%;
    padding: 24px;
}

table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}

table {
    width: 70%;
    margin: 0 auto;
}

figure.img img{
    max-width: 100%;
}

.feedback-form, .feedback-form div {
    display: inline-block;
}
.feedback-form input[type=text], .feedback-form textarea {
    width: 100%;
    box-sizing: border-box;
}
.feedback-form input[type=submit], .feedback a, .product span {
    float: right;
}

.feedback div {
    display: inline-block;
    background-color: lightgrey;
    border-radius: 5px;
    margin: 6px;
    padding: 5px;
}
.feedback span {
    font-weight: bold;
    margin-right: 8px;
    margin-left: 4px;
}
.feedback p {
    margin: 4px;
}
