* {
    margin: 0;
    padding: 0;
}


.main {
    width: 1400px;
    margin: 0 auto;
}

.upload {
    text-align: center;
}


.photo {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.smallphoto {
    margin: 5px;
    width: 30%;
    text-align: center;
}

.bigphoto {
    margin: 5px;
    max-width: 1280px;
    text-align: center;
}

.view {
    margin: 5px;
    width: 100%;
    padding-bottom: 10px;
}

.uploadDone {
    color: green;
    font: 15px;
}

















